:root {
  --primary-color: coral;
  --primary-background-color: #282c34;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Utilities */
.text-primary {
  color: var(--primary-color);
}

.text-center {
  text-align: center !important;
}

/* Header */
header {
  text-align: center;
  padding: 1.2rem;
  background-color: var(--primary-background-color);
  box-shadow: 0 0 1.5rem rgb(77, 76, 76);
}

header h1 {
  display: inline;
  color: white;
  /* text-shadow: 0 0 1rem rgb(177, 176, 176); */
}

/* Main */
main {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

/* Side Menu */
.side-menu {
  width: 20%;
  display: flex;
  justify-content: center;
}

.side-menu ul {
  list-style: none;
}

.side-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.side-menu ul li a:hover {
  color: var(--primary-color);
}

/* Content */
.content {
  width: 75%;
  display: flex;
  justify-content: center;
}


/* Table */
table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--primary-color);
}

th, td {
  padding: 10px;
}